.hover:hover {
	color: blue;
	cursor: pointer;
}
.hover {
}/*
.half {
	width: 49%;
	margin: 0;
	padding: 0;
	display: inline-block;
	overflow-x: scroll;
	float: left;
}*/
.inline {
	display:inline;
}
.remove {
	/*text-decoration: line-through;*/
	color: #00000054;
	/*opacity: 0.3;*/
}
.comment {
	opacity: 0.5;
	font-style: italic;
}
.fake {
	font-weight: bold;
	font-style: italic;
	/*color: blue;*/
}
.replaceable {
	cursor: pointer;
}

